header {
	text-align: center;
	border-radius: 10px;
}

.container img {
	height: 100px;
	width: 110px;
	
}

.card {
	height: 320px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.card1, .card2 { 
	background-size: cover; 
	background-position: center; /* Centraliza a imagem */
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 300px;
	height: 200px; /* Ajustado para acomodar imagem e texto */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white; /* Define o texto branco */
	border: none; /* Remove qualquer borda extra */
}
.card1{
	background-image: url(Css\ fotos/unch.webp);
	box-shadow:  0 0 8px 4px #2ab0ee;

}
.card2{
	background-image: url(Css\ fotos/login.jpeg);
	box-shadow:  0 0 8px 4px #2ab0ee;

}

a{ 
text-decoration: none;
color: white;
text-shadow: #000 2px 3px 2px;
box-shadow:  0 0 8px 4px #2ab0ee;
}

.card1 p, .card2 p {
	margin: 0;
	padding: 0;
}
